@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #111111;
  --foreground: #ffffff
  ;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@theme {
  --color-dark: #11111;
  --color-light: #0F1213;
  --color-accent: #9F8F38;
  --color-accent-hover: #6e6325;
  --color-form: #1c1a1a;
}

@layer base {
  h1 {
    @apply px-20 text-4xl md:text-6xl;
  }
  h2 {
    @apply text-3xl md:text-5xl;
  }
  h3 {
    @apply text-2xl md:text-4xl;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  box-sizing: border-box;
}
h1 {
  font-family: "Roboto Mono", monospace;
}
h2 {
  font-family: 'Figtree', sans-serif;
  font-weight: 300;
}
.titles {
  font-family: "Roboto Mono", monospace;
}
p {
  font-family: 'Figtree', sans-serif;
  font-weight: 300;
}